.container {
  max-width: 1180px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.sub-container {
  max-width: 1024px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.section {
  &__title {
    font-size: 40px;
    line-height: 1.45;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 32px;
    font-weight: 700;
  }

  &__text {
    color: #787c80;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;

    &_dark {
      color: #21272E;
    }
  }
}

.main-link {
  display: inline-block;

  img {
    width: 120px;
  }
}

.main-nav {
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;

    &::before {
      content: '';
      width: 1px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: 0.2;
      background-color: $textColor;
    }
  }

  &__item {
    & + & {
      margin-left: 24px;
    }
  }

  &__link {
    color: inherit;
    font-size: 12px;
    font-weight: 600;
    transition: color .3s ease;

    &:hover {
      color: $blueColor;
    }
  }
}