@use '../libs/mq';

.communication {
  position: relative;
  background-color: #fcfdff;
  background-image: url("/img/dist/Noise bg_blue.jpg");
  background-size: cover;

  &__container {
    max-width: 1168px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @include mq.mq($until: wide) {
      max-width: 100%;
      padding: 0 44px;
    }

    @include mq.mq($until: tablet) {
      padding: 0 20px;
    }
  }

  &__wrapper {
    padding-top: 96px;
    padding-bottom: 77px;

    @include mq.mq($until: wide) {
      padding-bottom: 82px;
    }

    @include mq.mq($until: desktop) {
      padding-top: 64px;
      padding-bottom: 100px;
    }

    @include mq.mq($until: tablet) {
      padding-bottom: 60px;
    }
  }

  &__content {
    display: flex;

    @include mq.mq($until: wide) {
      align-items: center;
    }

    @include mq.mq($until: desktop) {
      flex-direction: column;
    }
  }

  &__media {
    flex: 1 0 0;
    max-width: 100%;
    padding-right: 97px;

    @include mq.mq($until: wide) {
      padding-right: 88px;
    }

    img {
      width: 624px;
      margin-left: -25px;

      @include mq.mq($until: desktop) {
        width: 514px;
        display: block;
        margin: 0 auto;
      }
    }

    &_desktop {
      @include mq.mq($until: desktop) {
        display: none;
      }
    }

    &_tablet {
      display: none;

      @include mq.mq($until: desktop) {
        display: block;
        padding-right: 0;
        margin-bottom: 50px;
      }
    }
  }

  &__desc {
    max-width: 400px;

    @include mq.mq($until: wide) {
      max-width: 420px;
    }

    @include mq.mq($until: desktop) {
      max-width: 100%;
    }
  }

  &__section-subtitle {
    margin-bottom: 40px;

    @include mq.mq($until: desktop) {
      margin-bottom: 46px;
    }

    @include mq.mq($until: desktop) {
      text-align: center;
    }
  }

  &__action {
    position: relative;
    display: flex;
    padding-bottom: 64px;
    margin-bottom: 56px;

    @include mq.mq($until: desktop) {
      justify-content: center;
      padding-bottom: 90px;
      margin-bottom: 0;
    }

    @include mq.mq($until: tablet) {
      padding-bottom: 65px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0.2;
      background-color: #21272E;

      @include mq.mq($until: desktop) {
        display: none;
      }
    }
  }

  &__btn {
    cursor: pointer;
    width: 128px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgba(144, 149, 153, 0.35);
    background-color: transparent;
    transition: all .3s ease;

    &:hover {
      border: solid 1px rgba(33, 39, 46, 0.05);
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
      background-color: #fff;
    }

    & + & {
      margin-left: 24px;
    }
  }

  &__section-text {
    @include mq.mq($until: desktop) {
      text-align: center;
    }

    & + & {
      margin-top: 8px;

      @include mq.mq($until: desktop) {
        text-align: center;
      }
    }
  }
}
