@use "../libs/mq";

.steps {
  position: relative;
  background-color: #fcfdff;
  background-image: url("/img/dist/Noise bg_blue.jpg");
  background-size: cover;

  &__wrapper {
    padding-top: 88px;
    padding-bottom: 91px;

    @include mq.mq($until: desktop) {
      padding-bottom: 102px;
    }

    @include mq.mq($until: tablet) {
      padding-top: 73px;
      padding-bottom: 82px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__section-subtitle {
    line-height: 1.4;
    margin-bottom: 87px;

    @include mq.mq($until: tablet) {
      text-align: center;
      padding: 0 10px;
      margin-bottom: 61px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;

    @include mq.mq($until: desktop) {
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    flex: 1 0 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & + & {
      margin-left: 8%;

      @include mq.mq($until: desktop) {
        margin-top: 104px;
        margin-left: 0;
      }

      &::before {
        content: "";
        width: 272px;
        height: 2px;
        position: absolute;
        top: 28px;
        right: calc(100% - 95px);
        opacity: 0.2;
        background-color: #21272e;

        @include mq.mq($until: desktop) {
          width: 2px;
          height: 56px;
          top: unset;
          right: 50%;
          bottom: calc(100% + 24px);
          transform: translateX(-50%);
        }
      }
    }

    img {
      width: 57px;
      margin-bottom: 32px;

      @include mq.mq($until: tablet) {
        margin-bottom: 16px;
      }
    }
  }

  &__item-title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__item-text {
    color: #787c80;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
  }
}
